{% extends 'base.html' %} {%block content%}

<html>

<head>
    {% load static %} {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/community.css' %}">
    <title>COMMUNITY</title>
    {% endblock %}
</head>

<body>
    

    <div class="title">
        <p class="maintitle">COMMUNITY</p>
    </div>
    <div class="detail_1">
        <div class="detail_2">
            <div class="post-list">
                <div class="post">
                    <div class="post-top">
                        <p class="username">username</p>
                        <p class="date">date</p>
                    </div>
                    <hr>
                    <div class="post-middle">
                        <p class="type">type</p>
                        <p class="posttitle">title</p>
                    </div>
                    <div class="img">img</div>
                    <div class="write">게시글 내용</div>
                    <hr>
                    <div class="post-bottom">
                        <button class="comment">comment</button>
                        <button class="save">save</button>
                    </div>
                </div>

                <div class="post">
                    <div class="post-top">
                        <p class="username">username</p>
                        <p class="date">date</p>
                    </div>
                    <hr>
                    <div class="post-middle">
                        <p class="type">type</p>
                        <p class="posttitle">title</p>
                    </div>
                    <div class="img">img</div>
                    <div class="write">게시글 내용</div>
                    <hr>
                    <div class="post-bottom">
                        <button class="comment">comment</button>
                        <button class="save">save</button>
                    </div>
                </div>

                <div class="post">
                    <div class="post-top">
                        <p class="username">username</p>
                        <p class="date">date</p>
                    </div>
                    <hr>
                    <div class="post-middle">
                        <p class="type">type</p>
                        <p class="posttitle">title</p>
                    </div>
                    <div class="img">img</div>
                    <div class="write">게시글 내용</div>
                    <hr>
                    <div class="post-bottom">
                        <button class="comment">comment</button>
                        <button class="save">save</button>
                    </div>
                </div>

                <div class="post">
                    <div class="post-top">
                        <p class="username">username</p>
                        <p class="date">date</p>
                    </div>
                    <hr>
                    <div class="post-middle">
                        <p class="type">type</p>
                        <p class="posttitle">title</p>
                    </div>
                    <div class="img">img</div>
                    <div class="write">게시글 내용</div>
                    <hr>
                    <div class="post-bottom">
                        <button class="comment">comment</button>
                        <button class="save">save</button>
                    </div>
                </div>

                <div class="post">
                    <div class="post-top">
                        <p class="username">username</p>
                        <p class="date">date</p>
                    </div>
                    <hr>
                    <div class="post-middle">
                        <p class="type">type</p>
                        <p class="posttitle">title</p>
                    </div>
                    <div class="img">img</div>
                    <div class="write">게시글 내용</div>
                    <hr>
                    <div class="post-bottom">
                        <button class="comment">comment</button>
                        <button class="save">save</button>
                    </div>
                </div>

                <div class="post">
                    <div class="post-top">
                        <p class="username">username</p>
                        <p class="date">date</p>
                    </div>
                    <hr>
                    <div class="post-middle">
                        <p class="type">type</p>
                        <p class="posttitle">title</p>
                    </div>
                    <div class="img">img</div>
                    <div class="write">게시글 내용</div>
                    <hr>
                    <div class="post-bottom">
                        <button class="comment">comment</button>
                        <button class="save">save</button>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
{% endblock%}
</html>