{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "css/reset.css" %}' />
    <link rel="stylesheet" href='{% static "css/detail.css" %}' />
    <title>Document</title>
</head>

<body>
    <div class="homeWrapper">
        <div class="baseHeader">
            <img class="logoImg" src="../static/img/logo.png" alt="" />
            <div class="menuWrapper">
                <div class="menuItem">PERFUME</div>
                <div class="menuItem">EDUCATION</div>
                <div class="menuItem">TEST</div>
            </div>
            <div class="buttonWrapper">
                <div class="buttonItem">SIGNUP</div>
                <div class="buttonItem">SIGNIN</div>
            </div>
        </div>
        <div class="homeLandingTop">
            <div class="landingMessage">
                <span>처음보는 면접, <br />
                    뿌리기 좋은 향수</span>
            </div>
        </div>

        <div class="outer_homeLandingContents">
            <div class="homeLandingContents">
                <!-- <div class="contentsItem">
                    <div class="image" style="text-align: center;">image1</div>
                    <div class="description">
                    </div>
                </div>  -->
                <div class="contentsItem">
                    <span>블랙베리 앤 베이 코롱</span>
                </div>
                <div class="contentsItem">
                    <span>향수 이미지</span>
                </div>
                <div class="contentsItem">
                    <span>향수 이미지</span>
                </div>
                <div class="contentsItem">
                    <span>향수 이미지</span>
                </div>
                <div class="contentsItem">
                    <span>향수 이미지</span>
                </div>
                <div class="contentsItem">
                    <span>향수 이미지</span>
                </div>
                <div class="contentsItem">
                    <span>향수 이미지</span>
                </div>
                <div class="contentsItem">
                    <span>향수 이미지</span>
                </div>
                <div class="contentsItem">
                    <span>향수 이미지</span>
                </div>
                <div class="contentsItem">
                    <span>향수 이미지</span>
                </div>
                <div class="contentsItem">
                    <span>향수 이미지</span>
                </div>
                <div class="contentsItem">
                    <span>향수 이미지</span>
                </div>
            </div>


        </div>
    </div>

    <div class="baseFooter">
        <span>&copy; copyright all rights reserved PERFUMEE</span>
    </div>
    </div>
</body>

</html>