{% extends 'base.html' %} {%block content%}

    <head>
        {% load static %} {% block extrahead %}
        <link rel="stylesheet" href='{% static "css/education.css" %}' />
        <title>EDUCATION</title>
        {% endblock %}
    </head>

    <body>
        <div class="eduWrapper">
            <div class="eduSec">
                <span>EDUCATION</span>
            </div>
            <div class="contentsWrapper">
                <div class="eduWrapper eduBox">
                    <div class="title">
                        <span>뒤돌아보고 싶은 향수 고르는 영상</span>
                    </div>

                </div>
                <div class="videoWrapper eduBox">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jOAy2NdqN9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="contentsWrapper">
                <div class="eduWrapper eduBox">
                    <div class="title">
                        <span>자신의 이미지에 맞는 향수 고르는 법</span>
                    </div>

                </div>
                <div class="videoWrapper eduBox">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/V7keBlxyuBU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="contentsWrapper">
                <div class="eduWrapper eduBox">
                    <div class="title">
                        <span>뿌릴때마다 물어보는 향수 고르는 팁!</span>
                    </div>

                </div>
                <div class="videoWrapper eduBox">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-cbplATYPwM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
        </div>
    </body>
    {% endblock%}
</html>
