{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "css/reset.css" %}' />
    <link rel="stylesheet" href='{% static "css/home.css" %}' />
    <title>Document</title>
  </head>

  <body>
    <div class="homeWrapper">
      <div class="baseHeader">
        <img class="logoImg" src="../static/img/logo.png" alt="" />
        <div class="menuWrapper">
          <div class="menuItem">PERFUME</div>
          <div class="menuItem">EDUCATION</div>
          <div class="menuItem">TEST</div>
        </div>
        <div class="buttonWrapper">
          <div class="buttonItem">SIGNUP</div>
          <div class="buttonItem">SIGNIN</div>
        </div>
      </div>
      <div class="homeLandingTop">
        <div class="landingTitle">
          <span
            >Perfume Team <br />
            this is DJANGO</span
          >
        </div>
        <br />
        <div class="landingMessage">
          <span
            >검색하지 마세요. <br />
            여러분에게 맞는 향수를 추천해 드립니다.</span
          >
        </div>
      </div>
      <div class="homeLandingContents">
        <div class="contentsItem">
          <span>끝도없이 더워지는 여름... 뿌리좋은 향수 추천</span>
        </div>
        <div class="contentsItem">
          <span>끝도없이 더워지는 여름... 뿌리좋은 향수 추천</span>
        </div>
        <div class="contentsItem">
          <span>끝도없이 더워지는 여름... 뿌리좋은 향수 추천</span>
        </div>
        <div class="contentsItem">
          <span>끝도없이 더워지는 여름... 뿌리좋은 향수 추천</span>
        </div>
        <div class="contentsItem">
          <span>끝도없이 더워지는 여름... 뿌리좋은 향수 추천</span>
        </div>
        <div class="contentsItem">
          <span>끝도없이 더워지는 여름... 뿌리좋은 향수 추천</span>
        </div>
        <div class="contentsItem">
          <span>끝도없이 더워지는 여름... 뿌리좋은 향수 추천</span>
        </div>
        <div class="contentsItem">
          <span>끝도없이 더워지는 여름... 뿌리좋은 향수 추천</span>
        </div>
        <div class="contentsItem">
          <span>끝도없이 더워지는 여름... 뿌리좋은 향수 추천</span>
        </div>
      </div>
      <div class="baseFooter">
        <span>&copy; copyright all rights reserved PERFUMEE</span>
      </div>
    </div>
  </body>
</html>
