{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
        <style>
          a {
              text-decoration: none;
          }
        </style>
    </head>
    <body>
        <div class="baseHeader">
        <a href="{% url 'home'%}">
            <img class="logoImg" src="../static/img/logo.png" alt="" />
        </a>
        <div class="menuWrapper">
            <a href="{% url 'perfume' %}"><div class="menuItem">PERFUME</div></a>
            <a href="{% url 'education' %}"><div class="menuItem">EDUCATION</div></a>
            <a href=""><div class="menuItem">TEST</div></a>
            <a href="{% url 'community' %}"><div class="menuItem">COMMUNITY</div></a>
        </div>
        <div class="buttonWrapper">
            <a href="{% url 'mypage' %}">
                <div class="buttonItem">MYPAGE</div>
            </a>
            <div class="buttonItem">SIGNIN</div>
        </div>
        </div>
    

        <div class = "title"><p class = "maintitle">MYPAGE</p></div>
        <div class = "detail_1">
            <div class = "detail_2">
                <div class = "info">
                    <p class = "subtitle">MY INFO</p1>
                    <div class = "profs">
                        <div class = "prof1"><img class="Img" src="../static/img/perfume_ex.png" alt="" /></div>
                        <div class = "prof2">
                          
                            <p class = "infodetail">닉네임 : </p>
                            <p class = "infodetail">생일 : </p>
                            <p class = "infodetail">이메일 : </p>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <div class = "info">
                    <p class = "subtitle">MY POST</p1>
                    <div class = "posts">
                      <div class = "post">
                          <p class = "post-title">+POST+</p>
                          <div id="list-example" class="list-group1">  
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">포스트 제목</h5>
                              <small>작성 날짜</small>
                            </div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">포스트 제목</h5>
                              <small>작성 날짜</small>
                            </div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">포스트 제목</h5>
                              <small>작성 날짜</small>
                            </div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">포스트 제목</h5>
                              <small>작성 날짜</small>
                            </div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">포스트 제목</h5>
                              <small>작성 날짜</small>
                            </div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">포스트 제목</h5>
                              <small>작성 날짜</small>
                            </div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">포스트 제목</h5>
                              <small>작성 날짜</small>
                            </div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">포스트 제목</h5>
                              <small>작성 날짜</small>
                            </div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">포스트 제목</h5>
                              <small>작성 날짜</small>
                            </div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">포스트 제목</h5>
                              <small>작성 날짜</small>
                            </div>
                          </a>
                          </div>
                      </div>

                      <div class = "comment">
                        <p class = "post-title">+COMMENT+</p>
                        <div id="list-example2" class="list-group2">  
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">댓글 내용</h5>
                              <small>작성날짜</small>
                            </div>
                            <p class="mb-2">댓글 단 게시글 제목</p>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">댓글 내용</h5>
                              <small>작성날짜</small>
                            </div>
                            <p class="mb-2">댓글 단 게시글 제목</p>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">댓글 내용</h5>
                              <small>작성날짜</small>
                            </div>
                            <p class="mb-2">댓글 단 게시글 제목</p>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">댓글 내용</h5>
                              <small>작성날짜</small>
                            </div>
                            <p class="mb-2">댓글 단 게시글 제목</p>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">댓글 내용</h5>
                              <small>작성날짜</small>
                            </div>
                            <p class="mb-2">댓글 단 게시글 제목</p>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">댓글 내용</h5>
                              <small>작성날짜</small>
                            </div>
                            <p class="mb-2">댓글 단 게시글 제목</p>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">댓글 내용</h5>
                              <small>작성날짜</small>
                            </div>
                            <p class="mb-2">댓글 단 게시글 제목</p>
                          </a>
                          </div>
                      
                      </div>
                    </div>
                </div>
                <hr>
                <div class = "info">
                    <p class = "subtitle">REVIEW</p1>
                        <div class = "like">
                          <div class="d-flex align-items-start">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical" style ="margin-right:0px;">
                              <button class="nav-link active" id="v-pills-love-tab" data-bs-toggle="pill" data-bs-target="#v-pills-love" type="button" role="tab" aria-controls="v-pills-love" aria-selected="true">LOVE</button>
                              <button class="nav-link" id="v-pills-like-tab" data-bs-toggle="pill" data-bs-target="#v-pills-like" type="button" role="tab" aria-controls="v-pills-like" aria-selected="false">LIKE</button>
                              <button class="nav-link" id="v-pills-ok-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ok" type="button" role="tab" aria-controls="v-pills-ok" aria-selected="false">OK</button>
                              <button class="nav-link" id="v-pills-dislike-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dislike" type="button" role="tab" aria-controls="v-pills-dislike" aria-selected="false">DISLIKE</button>
                              <button class="nav-link" id="v-pills-hate-tab" data-bs-toggle="pill" data-bs-target="#v-pills-hate" type="button" role="tab" aria-controls="v-pills-hate" aria-selected="false">HATE</button>
                            </div>
                            <div class="tab-content" id="v-pills-tabContent">
                              <div class="tab-pane fade show active" id="v-pills-love" role="tabpanel" aria-labelledby="v-pills-love-tab">
                                
                                <div class="card" style="width: 10rem;">
                                  <img src="../static/img/LANVIN.jpg" class="card-img-top card-img" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">랑방 에끌라 드<br>아르페쥬</p>
                                  </div>
                                </div>
                                <div class="card" style="width: 10rem;">
                                  <img src="../static/img/BLANCHE.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">바이레도 블랑쉬<br>오 드 퍼퓸</p>
                                  </div>
                                </div>
                                <div class="card" style="width: 10rem;">
                                  <img src="../static/img/Arcipelago.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">알키펠라고<br>오드퍼퓸</p>
                                  </div>
                                </div>
                                <div class="card" style="width: 10rem;">
                                  <img src="../static/img/Jomalon.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">조말론 잉글리쉬<br>페어 앤 프리지아</p>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="v-pills-like" role="tabpanel" aria-labelledby="v-pills-like-tab">
                                <div class="card" style="width: 10rem;">
                                  <img src="../static/img/CHANEL.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">샤넬 샹스 오<br>땅드르 오 드<br>빠르펭 스프레이</p>
                                  </div>
                                </div>  
                              </div>
                              <div class="tab-pane fade" id="v-pills-ok" role="tabpanel" aria-labelledby="v-pills-ok-tab">
                                <div class="card" style="width: 10rem;">
                                  <img src="../static/img/BLV.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">불가리 블루<br>뿌르 옴므<br>오드뚜왈렛</p>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="v-pills-dislike" role="tabpanel" aria-labelledby="v-pills-dislike-tab">
                                <div class="card" style="width: 10rem;">
                                  <img src="../static/img/MissDior.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">미스디올<br>블루밍부케<br>오드뚜왈렛</p>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="v-pills-hate" role="tabpanel" aria-labelledby="v-pills-hate-tab">
                                <div class="card" style="width: 10rem;">
                                  <img src="../static/img/HERA.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">헤라 지일 우먼<br>오드퍼퓸</p>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>   
                        </div>
                </div>
                <hr>
                <div class = "info">
                  <p class = "subtitle">SAVED</p1>
                    <div class = "likepost">
                      <p class = "post-title">+POST+</p>
                      <div id="list-example" class="list-group3">  
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">포스트 제목</h5>
                          <small>작성 날짜</small>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">포스트 제목</h5>
                          <small>작성 날짜</small>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">포스트 제목</h5>
                          <small>작성 날짜</small>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">포스트 제목</h5>
                          <small>작성 날짜</small>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">포스트 제목</h5>
                          <small>작성 날짜</small>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">포스트 제목</h5>
                          <small>작성 날짜</small>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">포스트 제목</h5>
                          <small>작성 날짜</small>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">포스트 제목</h5>
                          <small>작성 날짜</small>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">포스트 제목</h5>
                          <small>작성 날짜</small>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">포스트 제목</h5>
                          <small>작성 날짜</small>
                        </div>
                      </a>
                      </div>
                  </div>
                </div>
            </div>
          </div>

          
          <div class="baseFooter">
            <span>&copy; copyright all rights reserved PERFUMEE</span>
          </div>
    </body>
    
</html>