{% extends 'base.html' %} {%block content%}

      <head>
        {% load static %} {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/perfume.css' %}">
        {% endblock %}
        
      </head>
      <body>
      <div class = "main">
        <div class = "option_select">
          <form action = "." method = "post">
            <select class = "form-select" aria-label = "색" id = "color" onchange = "filter()">
              <option value = "*" selected>전체</option>
              <option value = "red">red</option>
              <option value = "ora">orange</option>
              <option value = "yel">yellow</option>
              <option value = "gre">green</option>
              <option value = "blu">blue</option>
              <option value = "pur">purple</option>
              <option value = "pin">pink</option>
              <option value = "whi">white</option>
              <option value = "bla">black</option>
            </select>
            <label for = "color">색</label>

            <select class = "form-select" aria-label = "지속시간" id = "time" onchange = "filter()">
              <option value = "*" selected>전체</option>
              <option value = "per">퍼퓸</option>
              <option value = "edp">오드퍼퓸</option>
              <option value = "edt">오드뜨왈렛</option>
              <option value = "edc">오드콜로뉴</option>
            </select>
            <label for = "time">지속시간</label>

            <select class = "form-select" aria-label = "노트" id = "note_group" onchange = "filter()">
              <option value = "*" selected>전체</option>
              <option value = "Citrus fruits">Citrus fruits</option>
              <option value = "Floral">Floral</option>
              <option value = "Green">Green</option>
              <option value = "Fruity">Fruity</option>
              <option value = "Spices">Spices</option>
              <option value = "Wooded">Wooded</option>
              <option value = "Balsamicd">Balsamic</option>
              
            </select>
            <label for = "note_group">노트</label>
          </form>
        </div>
        
        <div class = "value_select">
          {% if perfume_list %} {% for perfume in perfume_list %}
          <div class = "perfume">
            <p>색<span class="perfume-color" style = "display:none">{{perfume.color}}</span>{{perfume.color}}</p>
            <p>지속시간<span class="perfume-time" style = "display:none">{{perfume.time}}</span>{{perfume.time}}</p>
            <p><span class="perfume-note_group" style = "display:none">{{perfume.note_group}}</span>{{perfume.note_group}}</p>
          </div>
          {% endfor %} {% endif %}
        </div>
        </div>
        <script>
          function filter(){
            var color = document.getElementById('color');
            color = color.options[color.selectedIndex].value;
            var time = document.getElementById('time');
            time = time.options[time.selectedIndex].value;
            var note_group = document.getElementById('note_group');
            note_group = note_group.options[note_group.selectedIndex].value;
            var perfumes = document.getElementsByClassName('perfume');
            

            for (var i = 0; i < perfumes.length; i++){
              var c = perfumes[i].getElementsByClassName('perfume-color')[0].innerHTML;
              var t = perfumes[i].getElementsByClassName('perfume-time')[0].innerHTML;
              var n = perfumes[i].getElementsByClassName('perfume-note_group')[0].innerHTML;
              
              
              var n_arr = n.split(",");
              
              
              
              if (color == '*' || color == c){
                if ( time == '*' || time == t){
                  for ( var j = 0; j < n_arr.length; j++){
                    if ( note_group == '*' || note_group == n_arr[j].replace(/ /g,"")){
                      perfumes[i].style.display = '';
                      break;
                    }
                    else{
                      perfumes[i].style.display = 'none';
                    }
                  }
                }
                else{
                  perfumes[i].style.display = 'none';
                }
              }
              else{
                perfumes[i].style.display = 'none';
              }
            }
          }
        </script>
      </body>
      {% endblock%}
