{% extends 'base.html' %} {%block content%} {% load static %}

<head>
    {% block extrahead %}
    <link rel="stylesheet" href='{% static "css/product.css" %}' />
    <title>PRODUCT</title>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    {% endblock %}
</head>

<body>
    <div class="homeLandingTop">
        <!-- 향수 이름 -->
        <div class="landingMessage">
            <span>블랙베리 앤 베이 코롱</span>
        </div>
        <!-- 향수 설명 -->
        <div class="landingTitle">
            <span>블랙베리를 따던 어린 시절의 추억, 블랙베리로 물든 입술과 손이
                떠오르는 제품
            </span>
            <span>이제 막 수확한 월계수 잎과 브램블리 우드의 신선함에 진하고 톡
                쏘는 느낌의 블랙베리 과즙을 가미한</span>
            <span>생기 넘치고 활발한 느낌의 향수</span>
        </div>
        <!-- 태그 -->
        <div class="tag">
            <span># 고급스러운</span>
            <span># 데일리용</span>
            <span># 프루티</span>
            <span># 여름 향수</span>
            <span># 20대 향수</span>
        </div>
        <!-- 선호도 -->
        <div class="love_to_hate">
            <span style="color: orangered"><i class="far fa-grin-hearts fa-2x"></i>&nbsp; 327</span>
            <span style="color: #ff1493"><i class="far fa-smile fa-2x"></i>&nbsp; 327</span>
            <span style="color: #ffa500"><i class="far fa-meh fa-2x"></i>&nbsp; 34</span>
            <span style="color: #0064ff"><i class="far fa-frown fa-2x"></i>&nbsp; 20</span>
            <span style="color: #6a5acd"><i class="far fa-tired fa-2x"></i>&nbsp; 7</span>
        </div>
    </div>

    <div class="homeLandingContents">
        <div class="contentsItem">
            <img class="product_image" src="../static/img/blog_img3.png" alt="" />
            <div class="description">
                <ul>
                    <!-- 향수 설명 -->
                    <li>
                        <span style="font-weight: bold">브랜드:</span> 조 말론
                        런던
                    </li>
                    <li>
                        <span style="font-weight: bold">퍼퓨머:</span> Fabrice
                        Pellegrin
                    </li>
                    <li><span style="font-weight: bold">가격:</span> $170</li>
                    <li><span style="font-weight: bold">계열:</span> 프루티</li>
                    <li>
                        <span style="font-weight: bold">테이스팅 노트:</span>
                        블랙베리, 월계수 잎, 베티버
                    </li>
                    <li><span style="font-weight: bold">색상:</span> 투명</li>
                    <li>
                        <span style="font-weight: bold">추천:</span> 모든
                        피부/성별 사용가능
                    </li>
                </ul>
            </div>
        </div>
        <!-- 선호도 버튼 -->
        <div class="button_love_to_hate">
            <div class="icon">
                <div><i class="far fa-grin-hearts"></i></div>
                <span>&nbsp;&nbsp;love</span>
            </div>
            <div class="icon">
                <div><i class="far fa-smile"></i></div>
                <span>&nbsp;&nbsp;like</span>
            </div>
            <div class="icon">
                <div><i class="far fa-meh"></i></div>
                <span>&nbsp;&nbsp;ok</span>
            </div>
            <div class="icon">
                <div><i class="far fa-frown"></i></div>
                <span>&nbsp;&nbsp;dislike</span>
            </div>
            <div class="icon">
                <div><i class="far fa-tired"></i></div>
                <span>&nbsp;&nbsp;hate</span>
            </div>
        </div>

        <!-- 댓글 -->
        <div class="CommentWrapper">
            <div class="comments">
                <div class="user">
                    <div><i class="fas fa-user-circle fa-2x"></i></div>
                    <div class="user_info">
                        <span class="date" style="color: grey">2021.07.02 오전 1:29</span>
                        <span class="name" style="font-weight: 600">USERNAME</span>
                    </div>
                </div>

                <div class="user_content">
                    <div class="text">
                        딱 지금 계절에 어울리는 향수!!<br />
                        코롱이라 그래서 약할 줄 알았는데 6시간정도는 은은하게
                        향이 남아서 좋아요 :-)
                    </div>
                </div>
            </div>
        </div>

        <div class="CommentWrapper">
            <div class="comments">
                <div class="user">
                    <div><i class="fas fa-user-circle fa-2x"></i></div>
                    <div class="user_info">
                        <span class="date" style="color: grey">2021.07.02 오전 1:29</span>
                        <span class="name" style="font-weight: 600">USERNAME</span>
                    </div>
                </div>

                <div class="user_content">
                    <div class="text">
                        중성적인 향수 중 제일 베스트에요 ♥️<br />
                        향은 쥬시하면서 무거운 느낌 ? 그렇다고 막 무겁진 않아요
                        !<br />
                        이건 10대후반부터 30대까지 다양하게 뿌릴수있을듯<br />
                        호불호 안갈려요 ㅎㅎ
                    </div>
                </div>
            </div>
        </div>

        <div class="CommentWrapper">
            <div class="comments">
                <div class="user">
                    <div><i class="fas fa-user-circle fa-2x"></i></div>
                    <div class="user_info">
                        <span class="date" style="color: grey">2021.07.02 오전 1:29</span>
                        <span class="name" style="font-weight: 600">USERNAME</span>
                    </div>
                </div>

                <div class="user_content">
                    <div class="text">
                        블랙베리의 달달한 느낌의 향으로 남녀노소 부담 없이
                        사용할 수 있는 거 같습니다.
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock%}
</body>