{% extends 'base.html' %} {%block content%}

<head>
    {% load static %} {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    {% endblock %}

</head>

<body>
    <div class="main">
        <form action="search" method="POST">
            {% csrf_token %}
            <div class="search">
                <input type="text" class="search" name="search_key" value="{{search_key}}" placeholder="search" />
                <input class="btn" type="submit" value="Search" />
            </div>
        </form>

        <div class="search_result">
            {% if not search_list %}
            <h1>검색 결과가 없습니다</h1>

            {% else %}
            {% if search_key %}
            <h1 class="result">{{search_key}}의 검색결과입니다.</h1>
            {% endif %}
            {% for search_result in search_list %}
            <div class="perfume">
                <p>{{search_result.name}}</p>
                <p>색<span class="perfume-color"
                        style="display:none">{{search_result.color}}</span>{{search_result.get_color_display}}</p>
                <p>지속시간<span class="perfume-time"
                        style="display:none">{{search_result.time}}</span>{{search_result.get_time_display}}</p>
                <p><span class="perfume-note_group"
                        style="display:none">{{search_result.note_group}}</span>{{search_result.get_note_group_display}}
                </p>
                <br>
                <div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
</body>
{% endblock%}